$redred: #ff0000;

.red {
  color: red;
}

.alert {
  background: lightblue;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.wow-enter {
  font-size: 10px;
  opacity: 0;
}
.wow-enter-active {
  font-size: 50px;
  opacity: 1;
  transition: opacity 500ms;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}
